{% extends 'base.html' %}


{% block title %}
   Welcome Todo List
{% endblock title %}


{% block container %}
<br>

<!-- Form Begind -->
<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Add new task">
  </div>
  <button type="submit" class="btn btn-primary">Add Task</button>
</form>
<!-- Form End -->

<br>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Done</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in all_task%}
        
        {% if obj.done %}
          <tr class="table-success">
            <td>{{ obj.task }}</td>
            <td>{{ obj.done }}</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        {% else %}
          <tr>
            <td>{{ obj.task }}</td>
            <td>{{ obj.done }}</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        {% endif %}
          

  {% endfor %}
    </tbody>
  </table>
    
{% endblock container %}
  
  